<a href="https://colab.research.google.com/github/maureen-2/moreen/blob/main/MyDSCCLASS1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
2+3

5

# #**INTRODUCTION**
this is our first class in data science.
you can as well use latex coding on this platform.

#pandas library

In [9]:
import pandas as pd
mydictionary={
    "name": "jane",
    "gender": "f",
    "age": 23,
    "programme": "PA105"
}
print(mydictionary)
mydataset=pd.dataframe(mydictionary)
print(mydataframe)
df=pd.dataframe(mydictionary)
print(mydataset)

{'name': 'jane', 'gender': 'f', 'age': 23, 'programme': 'PA105'}

AttributeError: module 'pandas' has no attribute 'dataframe'